root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = tab
insert_final_newline = true
max_line_length = 140
tab_width = 4
ij_formatter_off_tag = @formatter:off
ij_formatter_on_tag = @formatter:on
ij_formatter_tags_enabled = true
trim_trailing_whitespace = true

[*.java]
ij_java_doc_enable_formatting = true
ij_java_for_brace_force = always
ij_java_if_brace_force = always
ij_java_while_brace_force = always
ij_java_do_while_brace_force = always
ij_java_doc_add_blank_line_after_param_comments = true
ij_java_doc_add_blank_line_after_return = true
ij_java_class_count_to_use_import_on_demand = 9999
ij_java_names_count_to_use_import_on_demand = 9999
ij_java_keep_indents_on_empty_lines = false
ij_java_imports_layout = java.**,javax.**,|,javafx.**,|,io.github.architekt1024.**,|,*,|,$*

[*.yml]
indent_size = 2
tab_width = 2
